.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 2vh;
  background: rgb(210, 31, 60);
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  width: 100%;
}

.raising {
  font-size: 1.15rem;
}

.icon {
  margin-left: 16px;
}
